# See https://help.github.com/ignore-files/ for more about ignoring files.
.idea/
.eslintcache
.credentials

# Add a local folder for different stuff
temp

# dependencies
node_modules

# build
dist
build
.env

# testing
coverage

# server logs
combined.log
error.log

# misc
.DS_Store
newrelic_agent.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# istanbul (nyc) temp_dir
.nyc_output
